.contact-outer-div {
    display: flex;
    justify-content: space-around;
}

.google-map {
    box-sizing: border-box;
    margin: 50px;
    width: 50vw;
    height: 40vw;
    border: 5px solid silver;
    border-radius: 20px;

}

.contact-information-div {
    box-sizing: border-box;
    width: 50vw;
    text-align: center;
    border: 5px solid silver;
    padding: 20px;
    margin: 50px;
    color: green;
    font-size: max(2vw, 12px);
    font-weight: bolder;
    line-height: max(4vw, 30px);
}


.family-kitchen {
    font-family: 'Bungee Spice', cursive;
    font-size: max(2vw, 16px);
    font-weight: bolder;

}

.contact-information-div p span {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(128, 115, 0);
}

.contact-gif {
    width: 15vw;
}


@media(max-width:1300px) {
    .contact-outer-div {
        flex-direction: column-reverse;
        align-items: center;

    }

    .google-map {
        width: 90%;
    }


    .contact-information-div{
        width: 90%;
    }
}