.outer-div-product {
    background-color: rgb(254, 229, 183);
    border: 5px double rgb(255, 255, 100);
    background-size: 100% 100%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    width: 380px;

}

.product-images {
    width: 100%;
    border-radius: 20px;
    height: 250px;
}

.product-name-p {
    padding: 10px;
    width: 100%;
}

.product-price-p {
    padding: 10px;
}

.product-span {
    font-weight: bold;
}

.div-around-price-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-to-cart {
    opacity: 0;
    background-color: rgb(251, 251, 107);
    border-radius: 10px;
    padding: 5px;

}

.add-to-cart:hover{
transform: scale(1.2);
}

.outer-div-product:hover .add-to-cart {
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer;
}

.outer-div-product:hover{
    transition: 1s;
    transform: scale(1.1);
}

@media(max-width:480px){
    .outer-div-product {
        width: 300px;
    }
}