.footer-outer-div {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    height: 15vw;
    width: 100%;
    border: 5px double silver;
    border-radius: 20px;

}

.div-around-footer-imgs {
    margin: calc(15vw / 2 - 2vmax) auto;
    display: flex;
    justify-content: space-between;
    width: 10vmax;

}

.footer-website-imgs {
    width: 2vmax;
}

.footer-website-imgs:hover{
    transform: scale(1.1);
}

.crypto {
    font-family: 'Bungee Spice', cursive;
    position: absolute;
    font-size: 2vmax;
    margin-left: 5vw;

}

.logo {
    border-radius: 50%;
    position: absolute;
    width: 5vmax;
    right: 10vw;
    transition: 2s;

}